@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer components {
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  
  
.prmary-button {

    @apply inline-flex min-h-[50px] py-3 px-4 gap-3 justify-center items-center rounded-[90px] border-b-2 border-[#228B22] bg-[#50C878] text-white font-bold hover:opacity-80
}



  

}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.keyboard-button {
    background-color: #FF6347;
    width: 57px;
    height: 57px;
    margin: 2px;
    border-radius: 4px;
}

.enter-button {
    margin-left: 6px;
    width: 116px;
    height: 58px;
}

@media (max-width: 768px) {
    .keyboard-button {
        width: 40px;
        height: 40px;
        margin: 1px;
    }

    .enter-button {
        width: 80px;
        height: 40px;
    }
}
ul li::marker {
    color: yellow;  /* Replace blue with your desired color */
  }
